# This file is to ingest the data (.csv file) to Postgres

## Download dataset

In [ ]:
import subprocess
subprocess.run(["wget", "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"])
subprocess.run(["wget", "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"])

--2025-07-18 01:02:12--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?sp=r&sv=2018-11-09&sr=b&spr=https&se=2025-07-17T23%3A49%3A29Z&rscd=attachment%3B+filename%3Dgreen_tripdata_2019-10.csv.gz&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2025-07-17T22%3A48%3A51Z&ske=2025-07-17T23%3A49%3A29Z&sks=b&skv=2018-11-09&sig=0hM5vppm145NJA52UWrzwJ4dhrXbrrjLFjOjJN0bAv0%3D&jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc1Mjc5MzYzMSwibmJmIjoxNzUyNzkzMzMxLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.DzmrI07-x2TKa5a3Q6adRU21wvD5yQkEau63Ubk3xc8&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-07-18 01:02:13--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?sp=r&sv=2018-11-09&sr=b&spr=https&se=2025-07-17T23%3A49%3A29Z&rscd=attachment%3B+filename%3Dgreen_tripdata_2019-10.csv.gz&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2025-07-17T22%3A48%3A51Z&ske=2025-07-17T23%3A49%3A29Z&sks=b&skv=2018-11-09&sig=0hM5vppm145NJA52UWrzwJ4dhrXbrrjLFjOjJN0bAv0%3D&jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc1Mjc5MzYzMSwibmJmIjoxNzUyNzkzMzMxLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.DzmrI07-x2TKa5a3Q6adRU21wvD5yQkEau63Ubk3xc8&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: 'green_tripdata_2019-10.csv.gz'

     0K .......... .......... .......... .......... ..........  0%  747K 11s
    50K .......... .......... .......... .......... ..........  1% 5.42M 6s
   100K .......... .......... .......... .......... ..........  1% 6.92M 4s
   150K .......... .......... .......... .......... ..........  2% 12.6M 3s
   200K .......... .......... .......... .......... ..........  3% 8.55M 3s
   250K .......... .......... .......... .......... ..........  3% 14.3M 2s
   300K .......... .......... .......... .......... ..........  4% 17.7M 2s
   350K .......... .......... .......... .......... ..........  4% 20.8M 2s
   400K .......... .......... .......... .......... ..........  5% 17.5M 2s
   450K .......... .......... .......... .......... ..........  6% 15.1M 2s
   500K .......... .......... .......... .......... ..........  6% 17.0M 2s
   550K .......... .......... .......... .......... ..........  7% 18.7M 1s
   600K .......... .......... .......... .......... ..........  8% 17.7M 1s
   650K .......... .......... .......... .......... ..........  8% 19.9M 1s
   700K .......... .......... .......... .......... ..........  9%  205K 4s
   750K .......... .......... .......... .......... ..........  9% 2.44M 3s
   800K .......... .......... .......... .......... .......... 10% 13.7M 3s
   850K .......... .......... .......... .......... .......... 11%  129M 3s
   900K .......... .......... .......... .......... .......... 11%  129M 3s
   950K .......... .......... .......... .......... .......... 12%  124M 3s
  1000K .......... .......... .......... .......... .......... 13% 88.9M 3s
  1050K .......... .......... .......... .......... .......... 13%  135M 2s
  1100K .......... .......... .......... .......... .......... 14%  114M 2s
  1150K .......... .......... .......... .......... .......... 14% 27.3M 2s
  1200K .......... .......... .......... .......... .......... 15% 4.52M 2s
  1250K .......... .......... .......... .......... .......... 16%  758K 2s
  1300K .......... .......... .......... .......... .......... 16% 9.78M 2s
  1350K .......... .......... .......... .......... .......... 17% 6.42M 2s
  1400K .......... .......... .......... .......... .......... 17% 8.75M 2s
  1450K .......... .......... .......... .......... .......... 18% 9.66M 2s
  1500K .......... .......... .......... .......... .......... 19% 7.89M 2s
  1550K .......... .......... .......... .......... .......... 19% 8.71M 2s
  1600K .......... .......... .......... .......... .......... 20% 4.55M 2s
  1650K .......... .......... .......... .......... .......... 21% 11.5M 2s
  1700K .......... .......... .......... .......... .......... 21%  257K 3s
  1750K .......... .......... .......... .......... .......... 22% 9.38M 2s
  1800K .......... .......... .......... .......... .......... 22% 9.80M 2s
  1850K .......... .......... .......... .......... .......... 23% 8.94M 2s
  1900K .......... .......... .......... .......... .......... 24% 6.76M 2s
  1950K .......... .......... .......... .......... .......... 24% 8.91M 2s
  2000K .......... .......... .......... .......... .......... 25% 6.95M 2s
  2050K .......... .......... .......... .......... .......... 26% 10.7M 2s
  2100K .......... .......... .......... .......... .......... 26% 9.31M 2s
  2150K .......... .......... .......... .......... .......... 27%  714K 2s
  2200K .......... .......... .......... .......... .......... 27% 5.98M 2s
  2250K .......... .......... .......... .......... .......... 28% 8.91M 2s
  2300K .......... .......... .......... .......... .......... 29% 8.99M 2s
  2350K .......... .......... .......... .......... .......... 29% 8.79M 2s
  2400K .......... .......... .......... .......... .......... 30% 9.37M 2s
  2450K .......... .......... .......... .......... .......... 30% 10.4M 2s
  2500K .......... .......... .......... .......... .......... 31% 12.4M 2s
  2550K .......... .......... .......... .......... .......... 32% 11.4M 2s
  2600K .......... .......... .......... .......... .......... 32% 12.1M 2s
  2650K .......... .......... .......... .......... .......... 33% 17.4M 2s
  2700K .......... .......... .......... .......... .......... 34%  743K 2s
  2750K .......... .......... .......... .......... .......... 34% 11.8M 2s
  2800K .......... .......... .......... .......... .......... 35% 9.75M 2s
  2850K .......... .......... .......... .......... .......... 35% 8.15M 2s
  2900K .......... .......... .......... .......... .......... 36% 14.2M 2s
  2950K .......... .......... .......... .......... .......... 37% 10.2M 2s
  3000K .......... .......... .......... .......... .......... 37% 14.4M 2s
  3050K .......... .......... .......... .......... .......... 38% 10.5M 2s
  3100K .......... .......... .......... .......... .......... 39% 12.6M 2s
  3150K .......... .......... .......... .......... .......... 39% 12.6M 1s
  3200K .......... .......... .......... .......... .......... 40% 7.49M 1s
  3250K .......... .......... .......... .......... .......... 40% 14.7M 1s
  3300K .......... .......... .......... .......... .......... 41%  396K 2s
  3350K .......... .......... .......... .......... .......... 42% 10.1M 2s
  3400K .......... .......... .......... .......... .......... 42% 19.7M 2s
  3450K .......... .......... .......... .......... .......... 43% 16.3M 1s
  3500K .......... .......... .......... .......... .......... 43% 18.3M 1s
  3550K .......... .......... .......... .......... .......... 44% 10.8M 1s
  3600K .......... .......... .......... .......... .......... 45% 11.0M 1s
  3650K .......... .......... .......... .......... .......... 45% 16.8M 1s
  3700K .......... .......... .......... .......... .......... 46% 8.63M 1s
  3750K .......... .......... .......... .......... .......... 47% 12.8M 1s
  3800K .......... .......... .......... .......... .......... 47% 16.6M 1s
  3850K .......... .......... .......... .......... .......... 48% 20.5M 1s
  3900K .......... .......... .......... .......... .......... 48% 12.8M 1s
  3950K .......... .......... .......... .......... .......... 49% 8.10M 1s
  4000K .......... .......... .......... .......... .......... 50% 18.3M 1s
  4050K .......... .......... .......... .......... .......... 50% 11.8M 1s
  4100K .......... .......... .......... .......... .......... 51% 13.9M 1s
  4150K .......... .......... .......... .......... .......... 52% 20.3M 1s
  4200K .......... .......... .......... .......... .......... 52% 15.3M 1s
  4250K .......... .......... .......... .......... .......... 53% 11.9M 1s
  4300K .......... .......... .......... .......... .......... 53% 17.2M 1s
  4350K .......... .......... .......... .......... .......... 54% 13.3M 1s
  4400K .......... .......... .......... .......... .......... 55% 10.7M 1s
  4450K .......... .......... .......... .......... .......... 55% 14.0M 1s
  4500K .......... .......... .......... .......... .......... 56% 16.2M 1s
  4550K .......... .......... .......... .......... .......... 57% 12.7M 1s
  4600K .......... .......... .......... .......... .......... 57% 9.87M 1s
  4650K .......... .......... .......... .......... .......... 58% 11.3M 1s
  4700K .......... .......... .......... .......... .......... 58% 16.6M 1s
  4750K .......... .......... .......... .......... .......... 59% 17.3M 1s
  4800K .......... .......... .......... .......... .......... 60% 10.2M 1s
  4850K .......... .......... .......... .......... .......... 60% 16.4M 1s
  4900K .......... .......... .......... .......... .......... 61% 9.86M 1s
  4950K .......... .......... .......... .......... .......... 61% 17.0M 1s
  5000K .......... .......... .......... .......... .......... 62% 10.6M 1s
  5050K .......... .......... .......... .......... .......... 63% 16.3M 1s
  5100K .......... .......... .......... .......... .......... 63% 8.47M 1s
  5150K .......... .......... .......... .......... .......... 64% 16.2M 1s
  5200K .......... .......... .......... .......... .......... 65% 15.0M 1s
  5250K .......... .......... .......... .......... .......... 65% 14.0M 1s
  5300K .......... .......... .......... .......... .......... 66% 20.6M 1s
  5350K .......... .......... .......... .......... .......... 66% 15.3M 1s
  5400K .......... .......... .......... .......... .......... 67% 17.3M 1s
  5450K .......... .......... .......... .......... .......... 68% 17.0M 1s
  5500K .......... .......... .......... .......... .......... 68% 20.2M 1s
  5550K .......... .......... .......... .......... .......... 69% 13.9M 1s
  5600K .......... .......... .......... .......... .......... 70% 11.3M 1s
  5650K .......... .......... .......... .......... .......... 70% 7.19M 1s
  5700K .......... .......... .......... .......... .......... 71% 11.2M 1s
  5750K .......... .......... .......... .......... .......... 71% 16.9M 1s
  5800K .......... .......... .......... .......... .......... 72% 18.4M 0s
  5850K .......... .......... .......... .......... .......... 73% 20.2M 0s
  5900K .......... .......... .......... .......... .......... 73% 8.64M 0s
  5950K .......... .......... .......... .......... .......... 74% 15.3M 0s
  6000K .......... .......... .......... .......... .......... 74% 13.8M 0s
  6050K .......... .......... .......... .......... .......... 75% 10.8M 0s
  6100K .......... .......... .......... .......... .......... 76% 12.0M 0s
  6150K .......... .......... .......... .......... .......... 76% 16.0M 0s
  6200K .......... .......... .......... .......... .......... 77% 17.0M 0s
  6250K .......... .......... .......... .......... .......... 78% 20.9M 0s
  6300K .......... .......... .......... .......... .......... 78% 17.2M 0s
  6350K .......... .......... .......... .......... .......... 79% 11.3M 0s
  6400K .......... .......... .......... .......... .......... 79% 8.20M 0s
  6450K .......... .......... .......... .......... .......... 80% 19.2M 0s
  6500K .......... .......... .......... .......... .......... 81% 16.9M 0s
  6550K .......... .......... .......... .......... .......... 81% 18.0M 0s
  6600K .......... .......... .......... .......... .......... 82% 17.2M 0s
  6650K .......... .......... .......... .......... .......... 83% 13.6M 0s
  6700K .......... .......... .......... .......... .......... 83% 8.60M 0s
  6750K .......... .......... .......... .......... .......... 84% 16.8M 0s
  6800K .......... .......... .......... .......... .......... 84% 13.8M 0s
  6850K .......... .......... .......... .......... .......... 85% 14.0M 0s
  6900K .......... .......... .......... .......... .......... 86% 20.1M 0s
  6950K .......... .......... .......... .......... .......... 86% 17.3M 0s
  7000K .......... .......... .......... .......... .......... 87% 17.0M 0s
  7050K .......... .......... .......... .......... .......... 87% 17.4M 0s
  7100K .......... .......... .......... .......... .......... 88% 19.0M 0s
  7150K .......... .......... .......... .......... .......... 89% 13.8M 0s
  7200K .......... .......... .......... .......... .......... 89% 9.25M 0s
  7250K .......... .......... .......... .......... .......... 90% 20.0M 0s
  7300K .......... .......... .......... .......... .......... 91% 17.0M 0s
  7350K .......... .......... .......... .......... .......... 91% 12.1M 0s
  7400K .......... .......... .......... .......... .......... 92% 50.9M 0s
  7450K .......... .......... .......... .......... .......... 92% 20.1M 0s
  7500K .......... .......... .......... .......... .......... 93% 13.6M 0s
  7550K .......... .......... .......... .......... .......... 94% 16.0M 0s
  7600K .......... .......... .......... .......... .......... 94% 13.7M 0s
  7650K .......... .......... .......... .......... .......... 95% 18.2M 0s
  7700K .......... .......... .......... .......... .......... 96% 13.4M 0s
  7750K .......... .......... .......... .......... .......... 96% 19.9M 0s
  7800K .......... .......... .......... .......... .......... 97% 10.9M 0s
  7850K .......... .......... .......... .......... .......... 97% 19.6M 0s
  7900K .......... .......... .......... .......... .......... 98% 17.6M 0s
  7950K .......... .......... .......... .......... .......... 99% 20.6M 0s
  8000K .......... .......... .......... .......... .......... 99% 10.7M 0s
  8050K .......... ........                                   100% 57.4M=1.4s

2025-07-18 01:02:14 (5.45 MB/s) - 'green_tripdata_2019-10.csv.gz' saved [8262584/8262584]

In [ ]:
import gzip
import shutil

with gzip.open('./green_tripdata_2019-10.csv.gz', 'rb') as f_in:
    with open('./green_tripdata_2019-10.csv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [ ]:
subprocess.run(["rm", "green_tripdata_2019-10.csv.gz"])

## Ingest `green_tripdata_2019-10.csv` file

In [19]:
import pandas as pd

In [ ]:
trips = pd.read_csv("./green_tripdata_2019-10.csv")

C:\Users\KhanhNguyen\AppData\Local\Temp\ipykernel_3284\58221024.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv("green_tripdata_2019-10.csv")

In [ ]:
# trips

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.00,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.50,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.00,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,NaN,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,29.57,2.75,0.5,0.00,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,NaN,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,23.11,2.75,0.5,0.00,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,NaN,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,15.23,2.75,0.5,0.00,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,NaN,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,36.12,2.75,0.5,0.00,0.00,NaN,0.3,39.67,NaN,NaN,NaN

In [22]:
print(pd.io.sql.get_schema(trips, name="green_trip_data"))

CREATE TABLE "green_trip_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [23]:
trips.lpep_pickup_datetime = pd.to_datetime(trips.lpep_pickup_datetime) 
trips.lpep_dropoff_datetime = pd.to_datetime(trips.lpep_dropoff_datetime)

In [24]:
print(pd.io.sql.get_schema(trips, name="green_trip_data"))

CREATE TABLE "green_trip_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [25]:
from sqlalchemy import create_engine

In [ ]:
# create_engine('postgresql+psycopg2://user:password@hostname/database_name')
engine = create_engine('postgresql://root:root@pgdatabase:5432/green_trip')

In [27]:
engine.connect()

In [28]:
print(pd.io.sql.get_schema(trips, name="green_trip_data", con=engine))

CREATE TABLE green_trip_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [29]:
from time import time

In [ ]:
df_iter = pd.read_csv("./green_tripdata_2019-10.csv", iterator=True, chunksize=50000)
i = 0

for chunk in df_iter:
  t_start = time()
  
  chunk.lpep_pickup_datetime = pd.to_datetime(chunk.lpep_pickup_datetime) 
  chunk.lpep_dropoff_datetime = pd.to_datetime(chunk.lpep_dropoff_datetime)

  chunk.to_sql(name='green_trip_data', con=engine, if_exists='append')

  t_end = time()


  print(f"inserted chunk {i}: took {t_end - t_start:.2f} seconds")
  i += 1

inserted chunk 0: took 5.95 seconds
inserted chunk 1: took 6.13 seconds
inserted chunk 2: took 5.80 seconds
inserted chunk 3: took 5.69 seconds
inserted chunk 4: took 5.83 seconds
inserted chunk 5: took 5.88 seconds
inserted chunk 6: took 5.75 seconds
inserted chunk 7: took 5.96 seconds
inserted chunk 8: took 5.16 seconds
inserted chunk 9: took 2.74 seconds

In [ ]:
# Now, from terminal, you can use sql to filter the database

## Ingest `taxi_zone_lookup.csv` file

In [ ]:
zones = pd.read_csv("./taxi_zone_lookup.csv")

In [ ]:
# zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [4]:
print(pd.io.sql.get_schema(zones, name="zone_data"))

CREATE TABLE "zone_data" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [12]:
from sqlalchemy import create_engine

In [ ]:
# create_engine('postgresql+psycopg2://user:password@hostname/database_name')
engine = create_engine('postgresql://root:root@pgdatabase:5432/green_trip')

In [14]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(zones, name="zone_data", con=engine))

CREATE TABLE zone_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [16]:
from time import time

In [ ]:
df_iter = pd.read_csv("./taxi_zone_lookup.csv", iterator=True)
i = 0

for chunk in df_iter:
  t_start = time()
  
  chunk.to_sql(name='zone_data', con=engine, if_exists='append')

  t_end = time()


  print(f"inserted chunk {i}: took {t_end - t_start:.2f} seconds")
  i += 1

inserted chunk 0: took 0.07 seconds